.we-do {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.we-do__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--text-hero-black);
}

.we-do__list {
  display: flex;
}

.we-do__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.we-do__foto {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}

.we-do__text {
  width: 100%;
  padding: 27px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--white-color);
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
