.footer-style {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-style {
  background-color: #2f303a;
}

.footer-logo-info {
  /* @media screen and (min-width: 480px) {
    margin-bottom: 60px;
  } */
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
  }
}

.address {
  font-style: normal;
}

.footer-addres {
  font-family: 'Roboto';

  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  margin-top: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: #ffffff;
}

.footer-info-box {
  margin-top: 9px;
}

.footer-info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-text-color);
  }
}

.footer-logo-accent {
  color: var(--white-color);
}

.add-container {
  /*  Для десктопа */
  /* display: flex;
  align-items: baseline; */
  /* @media screen and (min-width: 480px) {
    text-align: center;
    justify-content: space-around;
  } */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    justify-content: space-around;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-soc {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer-soc-check {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  &:hover {
    background-color: var(--hover-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-icons {
  fill: currentColor;
}

.soc-list {
  display: flex;
}

.footer-div {
  /* @media screen and (min-width: 480px) {
    margin-bottom: 60px;
  } */
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer-icon + .footer-icon {
  margin-left: 10px;
}

.online-div {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.online-input {
  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;

  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: transparent;
  color: var(--white-color);
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    width: 450px;
    height: 50px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;

    height: 50px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    width: 358px;
    height: 50px;
  }
}

.post-btn {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  border: none;

  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  font-weight: 700;
  font-size: 16px;
  /*  margin-left: 12px; */
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: var(--white-color);
  min-width: 200px;
  min-height: 50px;
  background-color: var(--hover-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.post-icon {
  width: 24px;
  height: 24px;

  fill: var(--white-color);
  margin-left: 10px;
}
