.header .logo {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
  }
  margin-right: 93px;
}

.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-container {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: 'Raleway';

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--hover-text-color);
}
.logo-accent {
  color: var(--text-hero-black);
}

.navigation .link.current {
  color: var(--hover-text-color);
}
.current {
  position: relative;
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-text-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

/* .navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-hero-black);
  display: flex;
  margin: 0;
}
.item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
    @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
} */

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-hero-black);
  display: flex;
  margin: 0;
  .item {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts-position {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    /* padding-top: 32px;
    padding-bottom: 32px; */
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
  }
}

.header .container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
}

.navigation-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  position: relative;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-text-color);
  }
}

.header-info {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-gray);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-text-color);
  }
  &:hover .icon-mail {
    fill: var(--hover-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.icon-mail {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--text-gray);
}
