.mobile-menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 10;
  /* padding: 0; */
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #212121;
  &:hover,
  &:focus {
    color: var(--hover-text-color);
  }
}

.mobile-menu-posotion:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-info {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height */

  letter-spacing: 0.02em;
  color: #757575;
  &:hover,
  &:focus {
    color: var(--hover-text-color);
  }
  .mobile-menu-posotion:first-child & {
    color: #2196f3;
    font-size: 22px;

    @media screen and (min-width: 480px) {
      font-size: 34px;
    }
  }
}

.mobile-menu-contacts {
  margin-bottom: 64px;
  margin-top: auto;
}

.mobile-menu-list {
  display: flex;

  flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu-icon {
  display: flex;
  align-items: center;
  &:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 100%;
    margin-left: 10px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: #2196f3;
}

.mobile-menu-btn .icon-open {
  opacity: 1;
}
.mobile-menu-btn.is-open .icon-open {
  opacity: 0;
}

.mobile-menu-btn .icon-close {
  opacity: 0;
}
.mobile-menu-btn.is-open .icon-close {
  opacity: 1;
}
/// Mobile menu style ///
.mobile-menu {
  /* display: none; */

  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
}
