.section-navigation {
  padding: 94px 0;
  @media screen and (max-width: 767px) {
    padding: 60px 0;
  }
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.navigation-list {
  /* Для десктопа */
  /* display: flex; 
  justify-content: center;
  margin-bottom: 50px;*/
  @media screen and (min-width: 768px) {
    /* flex-wrap: wrap;
    display: flex; */
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.navigation-list-button:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 8px;
  }
}

.button-nav-hero {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  /* identical to box height, or 162% */
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--white-color);
  background-color: var(--hover-text-color);
}

.button-nav {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  /* identical to box height, or 162% */
  padding: 6px 22px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #2196f3;
  }
}

.app-img {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .portfolio-text,
  &:focus .portfolio-text {
    transform: translateY(0);
  }
}

.about-portfolio {
  /* Для десктопа */
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;

    /* justify-content: center; */
    margin-left: 30px;
  }
}

.portfolio {
  box-sizing: border-box;

  margin-right: 30px;

  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.portfolio-content {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  margin-bottom: 4px;
  letter-spacing: 0.06em;

  color: var(--text-hero-black);
}

.portfolio-content-pre {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}

.card {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 360px) {
    font-size: 15px;
    line-height: 1.56;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 16px;
    line-height: 1.56;
  }
}
