.our-team {
  /* Для десктопа*/
  /* margin-bottom: 50px; */

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--text-hero-black);
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.team-developer {
  /* Для десктопа*/
  /* display: flex; */
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team {
  background-color: #f5f4fa;
}

.time-img {
  width: 100%;

  /* width: 270px;
  height: 260px; */

  /* left: 215px;
  top: 1635px; */

  border-radius: 0px;
}

.team-people {
  padding: 30px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  /* margin-bottom: 10px; */
  color: #212121;
}

.time-people {
  margin-bottom: 10px;
}

.time-vacancy {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  color: #757575;
}

.team-bkcolor {
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-item + .masters-soc-item {
  margin-left: 10px;
}

.masters-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--hover-text-color);
  }
  &:hover .masters-soc-icon,
  &:focus .masters-soc-icon {
    fill: var(--white-color);
    /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  }
}

.masters-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
